* {
    font-size: 22px;
    background-color: antiquewhite;
}

.Heading {
    padding: 10px;
    margin: 5px auto;
}

.Heading h1 {
    font-weight: 800;
    text-align: center;
    font-size: 70px;
    text-decoration: underline;
    color: rgb(233, 116, 32);
    margin: 0px;
}

.Heading img {
    display: block;
    width: calc(100% / 2);
    height: auto;
    border: 2px solid black;
    margin: 10px auto;
}

.Content {
    padding: 5px 80px;
    font-size: 20px;
    margin: 10px 50px;
}

.Content .Panel {
    padding: 5px 5px;
    margin: 10px auto;
}

.Content h2{
    font-size: 35px;
    text-decoration: underline;
    font-style: italic;
    margin: 10px auto;
}

.Content #Description .Text {
    padding: 5px 15px;
    text-align: justify;
}

.Content #Ingredients ul {
    margin: 10px auto;
}

.Content #Ingredients ul li {
    padding: 5px;
    margin: 2px;
}

.Content #Steps ol{
    padding: 10px;
    padding-left: 50px;
    margin: 5px;
}

.Content #Steps ol li .Text{
    padding: 5px;
    margin: 5px;
    text-align: justify;
}

.Content #Steps ol li .Image{
    padding: 5px;
    margin: 2px;
}

.Content #Steps ol li .Image img{
    margin: 5px;
    border: 1px solid black;
    width: calc((100% - 26px) / 2);
}